<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
/* block요소로 float 속성 확인하기 */
div { width: 100px; height: 100px; }
#div1 {
	float: left;
	border: 1px solid red; 
}
#div2 {
	float: right;
	border: 1px solid green;
}
#div3 {
/* 	float속성의 영향을 받지 않음 */
	clear: both;
	background-color: gray;
}
</style>
</head>
<body>
<div id="div1">div1 요소</div>
<div id="div2">div2 요소</div>
<div id="div3">div3 요소</div>
</body>
</html>