@charset "UTF-8";
/* 같은 위치에 상대경로 */
/* 해당 위치에 load된다  */
/* 파일이 많아질 때 보기 힘들어진다.
	따라서 .html에 각각 import 하는 방식으로 한다. */
/* @import url(body_bg.css); */
@import url(body_bg.css);

/* 주로 쓰임 */
/* body { color: red; } */

/*--------------------------------------------*/
/*
body {
	color: reg(0, 255, 0);
}
 .min.css 형식으로 압축하여
  빈칸, 탭에 대한 byte수(위 코드는 3byte)를 절약한다 */

/*--------------------------------------------*/
/* body { color: reg(0, 255, 0); } */
/* 투명도 추가 */
/* body { color: rega(0, 0, 255, 0.7); } */

/*--------------------------------------------*/
/* 주로 쓰임 */
/* body { color: #999999; } */
/* body { color: #999; } */

/*--------------------------------------------*/
/* hsl(색조, 채도(낮을수록 탁함), 명도(높을수록 밝아짐.))) */
/* hsl(120, 100%, 100%) 명도 100%는 흰색 */
/* hsl(색조, 100%, 50%): 기본 색상 */
/* body { color: hsl(120, 100%, 50%); } */

body { color: hsla(120, 100%, 50%, 1.0); } 



